.formacao {
  grid-template-columns: 1fr 60%;
  margin: 0 auto;
  max-width: 1400px;

  display: grid;

  gap: 0.5rem;
  margin-bottom: 6%;

  position: relative;
}

.subtitulo-formacao {
  grid-column: 1;
  color: #fff;
  font-size: 4rem;
  padding: 0;
  justify-self: center;
  place-self: center;
  background: #232421;
  border-radius: 200px;
  padding: 25px 30px;
}
.faculdade-lista-formacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.faculdade {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 194px;
  max-height: 194px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s linear;
}
#primeiro {
  margin-right: 10px;
}
#segundo {
  height: 70%;
}
#primeiro,
#segundo {
  border-radius: 1000px;
  max-width: 36ch;
  padding: 30px;
  background: #232421;
  padding: 30px 30px 30px 30px;
  border-radius: 150px;
}
#primeiro h3,
#segundo h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  height: 100%;
}
#segundo h3 {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.organizador {
  flex-basis: 50%;
}

.li-faculdade {
  padding: 30px 30px 30px 30px;
  background: #232421;
  transition: background-color 0.3s linear;
  border-radius: 100%;
}

.faculdade-tipo {
  font-size: 0.875rem;
  color: #a3a3a3;
  margin-bottom: 17px;
}

.faculdade-titulo {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 17px;
}

.faculdade-instituicao {
  display: inline-block;
  font-size: 1.1rem;
  color: #c6c6c6;
  margin-bottom: 5px;
  justify-self: center;
}

.faculdade-tempo {
  font-size: 0.7rem;
  color: #a3a3a3;
  font-weight: lighter;
}

.formacao ::before {
  content: "";
  position: absolute;
  background: #1c1b1b;
  display: block;
  width: 100vw;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3%;
}
.li-faculdade:hover {
  background: #314031;
}
#primeiro:hover,
#segundo:hover {
  background: #314031;
}
/*----------------------------*/
@media (width <= 1400px) {
  .formacao {
    display: grid;
    grid-template-columns: auto;
  }
  #primeiro {
    justify-self: end;
    margin-right: 10%;
  }
  #segundo {
    margin-left: 10%;
  }
  .faculdade-lista-formacao {
    display: flex;
    justify-content: center;
    gap: 0;
  }

  .li-faculdade {
    margin: 2%;
  }
  .organizador {
    margin-top: 30px;
  }
}
@media (width <= 400px) {
  .subtitulo-formacao {
    font-size: 3rem;
  }
  .formacao ::before {
    content: "";
    position: absolute;
    background: #1c1b1b;
    display: block;
    width: 100%;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3%;
  }
  .organizador {
    display: block;
    flex-basis: 0;
  }
  .faculdade-lista-formacao {
    display: flex;
    justify-content: center;
    gap: 0;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .li-faculdade {
    flex-direction: row;
    margin-left: 7%;
    margin-right: 7%;
  }
  #primeiro {
    margin: 0;
  }
  #segundo {
    margin: 0;
  }
}
