.sobre {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.233rem;

  padding-top: 60px;
  margin-bottom: 8%;
}
.div-texto {
  background: #171816;
  border-radius: 200px;
  padding: 20px 10% 20px 10%;
  grid-column: 2 /-1;
}
.sobre-texto {
  font-size: 1.875rem;
  line-height: 3.125rem;
  color: #ecf1ea;
  margin: 30px;
}
.sobre-texto strong {
  color: #648164;
}
.subtitulo {
  grid-column: 1;
  color: #fff;
  font-size: 4rem;
  padding: 0;
  justify-self: center;
  place-self: center;
  background: #171816;
  border-radius: 200px;
  padding: 25px 30px;
}

strong:hover {
  color: #77ac65;
}
/*----------------------*/

@media (width <= 1400px) {
  .sobre {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .div-texto {
    margin: 2%;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .sobre-texto {
    margin-top: 30px;
  }
}
@media (width <= 401px) {
  .sobre {
    margin-top: 14%;
    gap: 10px;
  }
  .subtitulo {
    font-size: 3rem;
  }
}
