.titulonome {
  margin: 0 auto;
  max-width: 1200px;
  padding: 278px 0px 270px;
  gap: 100px;
  text-align: center;
  margin-top: 120px;
  position: relative;
}

.titulonome h1 {
  display: inline-block;
  font-size: 70px;
  padding: 10px 30px;
  background: #171816;
  border-radius: 50px;
  position: relative;
}

.textop {
  margin-top: 7px;
  padding: 10px 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: #171816;
  border-radius: 50px;
}
.titulonome h1::before {
  content: "";
  position: absolute;
  background: #1c1b1b;
  display: block;
  width: 100vw;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -444px;
}

/****-----------------*/
.svgs-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.container-contatos {
  display: flex;
  gap: 30px;
}
.container-contatos img {
  width: 50px;
  fill: aliceblue;
}
.baixar {
  display: flex;
  gap: 10px;
}
.baixar img {
  width: 60px;
}

/*********-----------------*/

.msg {
  font-size: 2.5rem;
  display: inline-block;

  position: relative;
  border-right: 4px solid #3fc516;
  overflow: hidden;
  width: 13ch;
  white-space: nowrap;
  animation: blinkmarker 0, 5s infinite, typing 5s steps(13) infinite;
}

@keyframes blinkmarker {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 13ch;
  }
  60% {
    width: 13ch;
  }
  100% {
    width: 0;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 940px;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto;
}

.titulonome,
.svgs-container {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.header a,
.titulonome a,
.svgs-container a {
  pointer-events: auto;
}
/*-----------------------*/

@media (width <= 1400px) {
  .svgs-container {
    justify-content: space-between;
    margin: 0 6%;
  }
  #particles-js {
    height: 835px;
  }

  .titulonome h1::before {
    bottom: -340px;
  }
}
@media (width <= 1200px) {
  #particles-js {
    height: 835px;
  }

  .titulonome h1::before {
    bottom: -340px;
  }
}
@media (width <= 900px) {
  #particles-js {
    position: absolute;
    width: 100%;
    height: 835px;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: auto;
  }
  .titulonome h1::before {
    content: "";
    position: absolute;
    background: #1c1b1b;
    display: block;
    width: 100vw;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -340px;
  }
}

@media (width <= 700px) {
  .titulonome {
    margin: 0 20%;
  }
  .titulonome h1 {
    font-size: 3.5rem;
    border-radius: 30px;
    padding: 5px;
  }
  .titulonome h1::before {
    content: "";
    position: absolute;
    background: #1c1b1b;
    display: block;
    width: 100vw;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -340px;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: auto;
  }
}
@media (width <= 600px) {
  .titulonome h1 {
    font-size: 3.5rem;
    border-radius: 30px;
    padding: 5px;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 750px;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: auto;
  }
  .titulonome h1::before {
    content: "";
    position: absolute;
    background: #1c1b1b;
    display: block;
    width: 100vw;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -340px;
  }
}

@media (width <= 400px) {
  .titulonome h1 {
    font-size: 3rem;
    border-radius: 30px;
    padding: 5px;
  }
  .msg {
    font-size: 2rem;
  }
  .svgs-container {
    margin-bottom: 120px;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 740px;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: auto;
  }
  .titulonome h1::before {
    content: "";
    position: absolute;
    background: #1c1b1b;
    display: block;
    width: 100vw;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -340px;
  }
}
