:root {
  --font_size01: 0.1rem;
  --font_size02: 0.2rem;
  --font_size03: 0.3rem;
  --font_size04: 0.4rem;
  --font_size05: 0.5rem;
  --font_size06: 0.6rem;
  --font_size07: 0.7rem;
  --font_size1: 1rem;
  --font_size2: 2rem;
  --font_size3: 3rem;
  --font_size4: 4rem;
}
